section.empresa
  .monitor
    +flexbox
    +justify-content(center)
    float: left
    margin: 0 auto
    width: 450px
    height: 417px
    +breakpoint($tablet)
      width: 400px
      height: 370px
    +breakpoint($mintablet)
      float: inherit
    +breakpoint($celular)
      width: 340px
      height: 315px
