section.empresa
  .monitor
    +flexbox
    float: left
    margin: 0 auto
    display: block
    clear: both
    width: 450px
    +breakpoint($tablet)
      width: 400px
    +breakpoint($mintablet)
      float: inherit
    +breakpoint($celular)
      width: 90%

  .img
    width: 100%
    height: 100%
